doctype html
html
  head
    title Email Invitation
    style.
     html{direction:rtl;float:right}
      .container{
      margin:0;
      padding:0;
      }
      .content{
      padding:10px;;
      font-size:18px;
      font-family:Arial, Helvetica, sans-serif;
      }
      .txt-otp{
      background:#14a89f;padding:25px;width:180px;
      border-radius:5px;
      text-align:center;
      margin-left: 100px;
      }
      .txt-otp>span{
      font-size:25px;
      font-stretch:expanded;
      letter-spacing: 10px;
      color:white;
      }
      .createCheckBtn{
        padding: 8px 12px;
        border-radius: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #ffffff !important; 
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        background:#3b235c;
      }
  body(dir='rtl')
    .container
      .content
        p שם המבדק: #{data.checkName}
        | &#x9;&#x9;
        p #{data.customMessage}
        | &#x9;&#x9;
        p הזמנה זו נשלחה על ידי: #{data.firstName} #{data.lastName}
        |&#x9;&#x9; 
        p #{data.participant} משתתפים משתתפים בבדיקה זו
        |&#x9;&#x9;
        p נא לסיים מבדק זה לא יאוחר מ: #{data.dueDate} (GMT +05:30)
        | &#x9;&#x9;
        p לידיעתך, מבדק זה הינו חסוי ואנונימי. יוזם המבדק יוכל לראות את התוצאות ללא שיוך למשתתף/ת ספציפי.
        | &#x9;&#x9;
        p 
          a(style='text-decoration:none' class='createCheckBtn' href='#{data.host}/spotlight/check/#{data.check_code}/#{data.code}')
            | התחל בדיקה
        | &#x9;&#x9;
        p במידה וכפתור "התחל" אינו פעיל נא ללחוץ על הלינק שלהלן:
        | &#x9;&#x9;
        p
          a(href='#{data.host}/spotlight/check/#{data.check_code}/#{data.code}')
            | [ #{data.host}/spotlight/check/#{data.check_code}/#{data.code} ]
        | &#x9;&#x9;
        | &#x9;&#x9;
        p(style='margin-top:30px')
          | תודה על ההשתתפות!
          br
          | &#x9;&#x9;&#x9;
          span
            | צוות SPOTLIGHT
        | &#x9;&#x9;
        p
          img(src='https://thespotlightsystem.com/assets/4cdf3b0b1991c7173eb2d6efc17276bd.png', alt='logo')    
