doctype html
html
  head
    title Email Invitation
    style.
      .container{
      margin:0;
      padding:0;
      }
      .content{
      padding:10px;;
      font-size:18px;
      font-family:Arial, Helvetica, sans-serif;
      }
      .txt-otp{
      background:#14a89f;padding:25px;width:180px;
      border-radius:5px;
      text-align:center;
      margin-left: 100px;
      }
      .txt-otp>span{
      font-size:25px;
      font-stretch:expanded;
      letter-spacing: 10px;
      color:white;
      }
      .createCheckBtn{
        padding: 8px 12px;
        border-radius: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #ffffff !important; 
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        background:#3b235c;
      }
  body
    .container
      .content
        p Check Name: #{data.checkName}
        | &#x9;&#x9;
        p !{data.customMessage}
        | &#x9;&#x9;
        p This invitation was sent to you by #{data.firstName} #{data.lastName}
        |&#x9;&#x9; 
        p #{data.participant} participants are participating in this Check
        |&#x9;&#x9;
        p Please conclude the Check no later than : #{data.dueDate} (GMT +05:30)
        | &#x9;&#x9;
        p Please note that this check is totally confidential and anonymous, i,e the initiator will see all the results provided by the participants, but will not be able to know who provided each result.
        | &#x9;&#x9;
        p 
          a(style='text-decoration:none' class='createCheckBtn' href='#{data.host}/spotlight/check/#{data.check_code}/#{data.code}')
            | Start Check
        | &#x9;&#x9;
        p if button is not working use below direct link
        | &#x9;&#x9;
        p
          a(href='#{data.host}/spotlight/check/#{data.check_code}/#{data.code}')
            | [ #{data.host}/spotlight/check/#{data.check_code}/#{data.code} ]
        | &#x9;&#x9;
        | &#x9;&#x9;
        p(style='margin-top:30px')
          | Thank You for participating,
          br
          | &#x9;&#x9;&#x9;
          span
            | Spotlight team
        | &#x9;&#x9;
        p
          img(src='https://thespotlightsystem.com/assets/4cdf3b0b1991c7173eb2d6efc17276bd.png', alt='logo')    
